<h1>{{title}}</h1>
<p>This is a test Heroku deployment of a canvas with WebSockets. Press 'X' to erase the board!</p>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/client.js"></script>

{{!-- Create color selectors right here --}}
<canvas id='myCanvas'></canvas>

