<h1>{{title}}</h1>
<p>This is a test Heroku deployment of a canvas with WebSockets. Press 'X' to erase the board!</p>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/canvas.js"></script>
<form method='POST' action='/game'>
    Join as: <input type='text' placeholder='username' id='sn'></input>
    <input type='submit' value='Go!'></button>
</form>

<div id='user'>
  
</div>

{{!-- Create color selectors right here --}}
<canvas id='myCanvas'></canvas>

<script> //Will export as game.js
let client = io(window.location.host);

//let client = io(window.location.host);
$('form').submit(function(e){
    e.preventDefault();

   let sn = {
       name: $('#sn').val(),
       client_id: client.id,
       wins: 0,
       is_drawing: false
   }
    client.emit('join', sn);

   client.on('join', function(data){
      console.log(data);
      $('#user').html('');
      for(key in data){
       $('#user').append(`<div>${data[key].name}</div>`)
      }
   })

     /*$.post("/api/users", sn)
     .then(function(){
         window.location = '/game';
     })*/
  
})
 // res.json() username -> associate username with client-id -> 
// persist users in api until disconnection -> 
// kick out users with foreign client IDs -> 
// store scores MySQL, display top 10-100 on home page
</script>
