/*adds to the inside of the divs*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

#container {
    position: relative;
    margin: 0 auto;
    max-width: 740px;
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

canvas {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    border: 1px solid red;
}


/*color toolbar*/

#toolbar {
    width: 100%;
    height: 50px;
    padding: 10px;
    /* position: fixed; */
    /* top: 0; */
    background-color: #b5a89f;
    /* border: 2px solid; */
    text-align: center;
}

#rad {
    position: relative;
    margin-top: 5px;
    /* margin-right: %; */
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    float: left;
}


/*clear canvas*/

#clearCanvas {
    /* margin-top: 30px; */
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff1a1a;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 2px #999;
}

#clearCanvas:active {
    transform: translateY(2px);
}


/*controls to alter line thickness*/

.radcontrol {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #12bdfd;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: -5px;
}


/* color palette options */

#colors {
    /* border: 2px solid; */
    cursor: pointer;
    position: relative;
    float: right;
}

.swatch {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    /* float: right; */
    /* margin-top: -15px; */
}

.swatch.active {
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}